<h1>成绩类型列表</h1>

<table>
  <tr>
    <th>名称</th>
  </tr>

<% @grade_types.each do |grade_type| %>
  <tr>
    <td><%=h grade_type.name %></td>
    <td><%= link_to '详细信息', grade_type %></td>
    <td><%= link_to '编辑', edit_grade_type_path(grade_type) %></td>
    <td><%= link_to '删除', grade_type, :confirm => '确定要删除吗?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to '添加新成绩类型', new_grade_type_path %>