<ul>
	<li><%=link_to "用户管理", members_path%></li>
	<li><%=link_to "医院管理", hospitals_path%></li>
	<li><%=link_to "学院管理", colleges_path%></li>
	<li><%=link_to "科类管理", departments_path%></li>
	<li><%=link_to "学生信息管理", students_path%></li>
	<li><%=link_to "学生成绩类型管理", grade_types_path%></li>

</ul>