<h1>学生信息列表</h1>
<% form_for :student, :url => {:action => :index }, :html=>{:method => :get} do |f| -%>
  <table>
    <tr>
      <th>选择年级</th>
    </tr>
      <td>
        <select name="grade">
          <option value=""></option>
          <%(1980..Time.now.year).each do |year|%>
            <option value="<%= year%>" <%= year.to_i == session[:grade].to_i ? 'selected="selected"' : "" %>><%=year%></option>
          <% end -%>
        </select>
      </td>
      <td><input type="submit" value="检索"></td>
    </tr>
  </table>
<% end -%>

<table>
  <tr>
    <th>学号</th>
    <th>姓名</th>
    <th>年级</th>
    <th>学院</th>
    <th>专业</th>
    <th>实习单位1</th>
    <th>实习单位2</th>
  </tr>

<% @students.each do |student| %>
  <tr>
    <td><%=h student.stu_no %></td>
    <td><%=h student.name %></td>
    <td><%=h student.grade %></td>
    <td><%=h student.college.name%></td>
    <td><%=h student.prof.profession%></td>
    <td><%=h student.hospital_id.nil? ? "未分配" : student.hospital.name %></td>
    <td><%=h student.hospital_id2.nil? ? "未分配" : student.hospital_2.name %></td>
    <td><%= link_to '详细信息', :action=>:student_detials, :id=>student %></td>
    <td><%= link_to '分配医院', :action=>:assign, :id=>student %></td>
  </tr>
<% end %>
</table>
<%= will_paginate @students %>