<p>
  <b>学号:</b>
  <%=h @student.stu_no %>
</p>

<p>
  <b>姓名:</b>
  <%=h @student.name %>
</p>

<p>
  <b>性别:</b>
  <%=h @student.sex %>
</p>

<p>
  <b>层次:</b>
  <%=h @student.gradation %>
</p>

<p>
  <b>学院:</b>
  <%=h @student.college.name %>
</p>

<p>
  <b>专业名称:</b>
  <%=h College.find(@student.profession).profession %>
</p>

<p>
  <b>行政班:</b>
  <%=h @student.politics_class %>
</p>

<p>
  <b>年级:</b>
  <%=h @student.grade %>
</p>

<p>
  <b>出生日期:</b>
  <%=h @student.birthday %>
</p>

<p>
  <b>政治面貌:</b>
  <%=h @student.politics %>
</p>

<p>
  <b>民族:</b>
  <%=h @student.nation %>
</p>

<p>
  <b>户口所在地:</b>
  <%=h @student.home %>
</p>

<p>
  <b>学生类别:</b>
  <%=h @student.stu_class %>
</p>

<p>
  <b>学制:</b>
  <%=h @student.college_year %>
</p>

<p>
  <b>学习年限:</b>
  <%=h @student.study_year %>
</p>

<p>
  <b>培养方向:</b>
  <%=h @student.incubat_direct %>
</p>

<p>
  <b>专业方向:</b>
  <%=h @student.profession_direct %>
</p>

<p>
  <b>入学日期:</b>
  <%=h @student.inter_date %>
</p>

<p>
  <b>电子邮箱地址:</b>
  <%=h @student.email %>
</p>

<p>
  <b>身份证号:</b>
  <%=h @student.identity_no %>
</p>

<p>
  <b>是否优秀实习生:</b>
  <%=h @student.profect %>
</p>

<p>
  <b>姓名拼音:</b>
  <%=h @student.pinyin_name %>
</p>

<p>
  <b>教学班名称:</b>
  <%=h @student.class_name %>
</p>

<p>
  <b>专业代码:</b>
  <%=h @student.profession_no %>
</p>

<p>
  <b>学生证号:</b>
  <%=h @student.stu_card_no %>
</p>

<p>
  <b>手机号码:</b>
  <%=h @student.phone %>
</p>

<p>
  <b>学位名称:</b>
  <%=h @student.degree %>
</p>

<p>
  <b>托管学院:</b>
  <%=h College.find(@student.trust_college).name %>
</p>

<p>
  <b>实习方式:</b>
  <%=h @student.proctis_action %>
</p>

<p>
  <b>实习单位:</b>
  <%=h @student.hospital_id %>
</p>

<p>
  <b>实习成绩:</b>
  <%=h @student.internship_grade %>
</p>

<p>
  <b>医院成绩:</b>
  <%=h @student.hostpital_grade %>
</p>
<p>
  <b>辅导员:</b>
  <%=h @student.coach %>
</p>

<p>
  <b>辅导员联系电话:</b>
  <%=h @student.coach_tel %>
</p>
