<% form_for(@student, :url=>{:action=>:confirm_add}) do |f| %>
  <input type='hidden' name='id' value="<%= @student.id%>"/>

  <p>
    <%= f.label :stu_no, "学号" %><br />
    <%= @student.stu_no %>
  </p>
  <p>
    <%= f.label :name, "姓名" %><br />
    <%= @student.name %>
  </p>
  <% @student.department.each do |dep|%>
  <p>
    <%= dep.name%><br/>
    <input name="<%= "dep_grade_#{dep.id}"%>" value=""/>
  </p>
  <% end -%>
<!--   <p>
    <%= f.label :hostpital_grade, "医院总成绩" %><br />
    <%= f.text_field :hostpital_grade %>
  </p> -->
  <p>
  	<%= f.submit "添加"%>
  </p>
<% end -%>