
<h1>用户编辑</h1>

<% form_for(@member) do |f| %>
  <%= f.error_messages %>
    <%= f.hidden_field :college_id %>
  <p>
    <%= f.label :account, "账号" %><br />
    <%= f.text_field :account %>
  </p>
  <p>
    <%= f.label :password, '密码' %><br />
    <%= f.password_field :password %>
  </p>
  <% if [4,5].include? @member.auth%>
    <p>
      <%= f.label :auth, "权限" %><br />
      <%= @auth_list[@member.auth] %>
    </p>
    <% if @member.auth == 5%>
      <p>
        <%= f.label :hospital_id, "所属医院" %><br />
        <%= f.select :hospital_id, Hospital.all.collect{|c|[c.name, c.id]},{:include_blank => false}%>
      </p>
    <%else%>
      <p>
        <%= f.label :auth, "所属学院" %><br />
        <%= f.select :college_id, College.parents.collect{|c|[c.name, c.id]},{:include_blank => true}%>
      </p>
    <% end -%>
  <%else%>
  <p>
    <%= f.label :auth, "权限" %><br />
    <%= f.select :auth, @auth_list.collect{|auth| [ auth.last,auth.first]},{:include_blank => false},{:onchange=>"display_list(this.value)"} %>
  </p>
  <% end -%>
  <p>
    <%= f.submit '更新' %>
  </p>
<% end %>

<%= link_to '详细信息', @member %> |
<%= link_to '返回用户列表', members_path %>